---

services:
  wallabag:
    image: wallabag/wallabag
    container_name: wallabag
    restart: always
    ports:
      - 8076:80
    environment:
      SYMFONY__ENV__DOMAIN_NAME: "https://wall.${TESSERACT_DOMAIN}"
      SYMFONY__ENV__SERVER_NAME: "Your wallabag instance"
      SYMFONY__ENV__FOSUSER_CONFIRMATION: "false"

      SYMFONY__ENV__MAILER_HOST: ${TESSERACT_EMAIL_HOST}
      SYMFONY__ENV__MAILER_USER: ${TESSERACT_EMAIL_USERNAME}
      SYMFONY__ENV__MAILER_PASSWORD: "${TESSERACT_EMAIL_PASSWORD}"
      SYMFONY__ENV__FROM_EMAIL: ${TESSERACT_EMAIL_USERNAME}

    volumes:
      - ${TESSERACT_APPDATA_PATH}/wallabag_data:/var/www/wallabag/data
      - ${TESSERACT_APPDATA_PATH}/wallabag_images:/var/www/wallabag/web/assets/images
