---

services:
  nextcloud:
    image: nextcloud:32
    container_name: nextcloud
    restart: always
    user: ${TESSERACT_UID}:${TESSERACT_GID}
    depends_on:
      - nextcloud_db
      - nextcloud_broker
    ports:
      - 8081:80
    environment:
      MYSQL_DATABASE: nextcloud_database
      MYSQL_USER: nextcloud_user
      MYSQL_PASSWORD: "${TESSERACT_SQL_PASSWORD}"
      MYSQL_HOST: nextcloud_db:3306
      NEXTCLOUD_ADMIN_USER: "${TESSERACT_DOCKER_USERNAME}"
      NEXTCLOUD_ADMIN_PASSWORD: "${TESSERACT_DOCKER_PASSWORD}"
      NEXTCLOUD_DATA_DIR: /data
      NEXTCLOUD_TRUSTED_DOMAINS: ${TESSERACT_HOSTNAME} ${TESSERACT_DOMAIN}
      TRUSTED_PROXIES: 192.168.1.8

      REDIS_HOST: nextcloud_broker # Name of Redis container (not set by default)
      REDIS_HOST_PORT: 6379

      SMTP_HOST: ${TESSERACT_EMAIL_HOST}
      SMTP_SECURE: ssl
      SMTP_PORT: ${TESSERACT_EMAIL_PORT}
      SMTP_AUTHTYPE: LOGIN
      SMTP_NAME: "${TESSERACT_EMAIL_USERNAME}"
      SMTP_PASSWORD: "${TESSERACT_EMAIL_PASSWORD}"
      #MAIL_FROM_ADDRESS # Use this address for the 'from' field in the emails sent by Nextcloud. (not set by default)
      #MAIL_DOMAIN  # Set a different domain for the emails than the domain where Nextcloud is installed. (not set by default)

    volumes:
      - "${TESSERACT_APPDATA_PATH}/nextcloud_config:/var/www/html"
      - "${TESSERACT_APPDATA_PATH}/nextcloud_redis/redis-session.ini:/usr/local/etc/php/conf.d/redis-session.ini"

      - "${TESSERACT_APPDATA_PATH}/nextcloud_data:/data"
      - "${TESSERACT_DATA_PATH}/Nextcloud/ben:/data/ben" # Ugly workaround
      - "${TESSERACT_DATA_PATH}/Nextcloud/ivan:/data/ivan" # Ugly workaround

  nextcloud_db:
    image: ghcr.io/linuxserver/mariadb
    container_name: nextcloud_db
    restart: always
    environment:
      PUID: ${TESSERACT_UID}
      PGID: ${TESSERACT_GID}
      TZ: ${TESSERACT_TZ}
      MYSQL_ROOT_PASSWORD: "${TESSERACT_SQL_PASSWORD}"
      MYSQL_USER: nextcloud_user
      MYSQL_PASSWORD: "${TESSERACT_SQL_PASSWORD}"
      MYSQL_DATABASE: nextcloud_database
    volumes:
      - ${TESSERACT_APPDATA_PATH}/nextcloud_db:/config

  nextcloud_broker:
    image: redis:alpine
    container_name: nextcloud_broker
    restart: always

  nextcloud_code:
    image: collabora/code:latest
    container_name: nextcloud_code
    restart: always
    ports:
      - 9980:9980
    cap_add:
      - MKNOD
    environment:
      domain: "docs.${TESSERACT_DOMAIN}"
      extra_params: "--o:ssl.enable=false --o:ssl.termination=true --o:welcome.enable=false"
      username: "${TESSERACT_DOCKER_USERNAME}"
      password: "${TESSERACT_DOCKER_PASSWORD}"
      dictionaries: "en_GB fr_FR"
    volumes:
      - "${TESSERACT_APPDATA_PATH}/nextcloud_code:/usr/share/coolwsd/browser/dist/welcome:ro" # Remove nag screen
