---

services:
  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    restart: always
    environment:
      TZ: "${TESSERACT_TZ}"
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_SCHEDULE: "0 0 6 * * *"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
